/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
    font-family: 'Lora', serif;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #FFFFFF;
    font-size: 1.2em;
}

img {
    max-width: 100%;
    display: block;
}

/* Header, Navigation */
header {
    width: 100%;
    display: block; 
    text-align: center; 
}

.tab-desk {
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

.tab-desk img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #830f10;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0 20px;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: center;
}


@media screen and (min-width: 750px) {
    nav li {
        display: inline-block; 
        margin: 0 10px;
    }

    nav li a:hover {
        background-color: #00a2ff; 
        color: #2a1f14;
    }
}

/* Main Content */
main {
    flex-grow: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
}


/* Explore Section Heading Style */
#explore h2 {
    background-color: #830f10;
    color: white; 
    width: 100%; 
    text-align: center; 
    padding: 1rem 0; 
    margin: 0 0 20px 0; 
    box-sizing: border-box; 
}

/* Bars */
#latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

#latest img {
    border-radius: 20px; 
    max-width: 100%; 
    margin-bottom: 20px; 
}

.info-bars {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.bar {
    background-color: #830f10;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px; 
}
/* Footer */
footer {
    background-color: #2a1f14;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.85em;
    padding: 1% 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

footer a {
    color: #FFFFFF
}

/* Grid and Box styles for layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1; 
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-size: 1.75rem
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/final/imgs/redpandanobackground.png') no-repeat center center; 
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.479); /* Initially transparent */
    transition: background-color 0.5s ease; /* Smooth transition for the background color change */
    z-index: 1;
}

.box:hover::after {
    background: rgba(150, 0, 0, 0.5); /* Fades in to this color on hover */
}

.box-link {
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box a {
    color: #FFFFFF;
    text-decoration: none;
}

.box a:hover {
    color: #00a2ff
}

.box:hover {
    background-color: #3a2f24;
}

/* Desktop Styles */
@media screen and (min-width: 750px) {
    #latest {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    #latest img, .info-bars {
        width: calc(50% - 40px); 
        margin: 20px; 
    }

    #latest img {
        order: 1; 
        border-radius: 20px; /* Rounded corners for the image */
        margin-bottom: 0;
    }
    
    .info-bars {
        order: 2; /* Ensures the info-bars are on the right */
        display: flex;
        flex-direction: column; /* Keeps the info bars stacked vertically */
        justify-content: flex-start; /* Aligns content to the start */
    }

    /* Creating a horizontal layout for the inside of #latest */
    #latest {
        flex-direction: row; 
        justify-content: center;
        align-items: flex-start; 
    }

    .bar {
        /* Maintaining styling for each information bar */
        background-color: #830f10;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between; 
        padding: 10px;
        margin-bottom: 10px; 
        border-radius: 15px;
    }

    /* Adjustment for the grid within the explore section to ensure proper layout on desktop */
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    nav ul {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        width: 100%;
    }

    nav li {
        display: inline-block;
        margin-right: 20px; 
        margin: 0 10px;
        padding: 0;
    }

    nav li a {
        color: #ffffff; 
        text-decoration: none;
        padding: 10px 15px;
        display: block; 
        text-align: center; 
        width: 100%; 
        box-sizing: border-box; 
    }

    nav li a:hover {
        background-color: #830f10; 
        color: #00a2ff; 
    }

    nav li:last-child {
        margin-right: 0;
    }

    header {
        flex-direction: row;
        justify-content: space-between; 
    }

}
